
body {
    /* background-image:  url("./assets/images/double-dragon-intro.png"); */
    
    background-color: black;
    height: 100vh;
    margin:0px;
    display:flex;
    flex-direction: column;
    
}

.background {
    background-image: url("./assets/images/double-dragon-intro.png"); 
    background-size:contain;
    background-repeat: no-repeat;
    background-color: black;
}



.dither-background {
    background-image: url("./assets/images/double-dragon-garage.png")
}


footer {
    min-height: 30px;
    background-color: black
    margin-top: auto;
}


.player-hand {
    max-height:60%;
    visibility: hidden;

}

.computer-hand {
    max-height:60%;
    visibility: hidden;

}


.game-container {
    display:flex;
    justify-content: space-between;
    margin-top: 30%;
    visibility: hidden;
    
}


 /* Buttons */
.buttons {
    background-color:goldenrod;
    align-self: flex-end;
}

.strike-button-container {
    display:flex;
    justify-content: center;
    visibility:hidden;
}

.button-container {
    display:flex;
}

.active-item {
    background-color: violet;
}


.countdown-container {
    display: flex; 
    justify-content: center;
    gap: 10px;
}


.timer,
.countdown-text {
    color: white;
    font-size: 5vh;
}

.message-container {
    display:flex; 
    align-items: center;
    flex-direction: column;
    margin: 0px;

}

.game-text,
.game-subtext {
    color:white;
    margin: 40px;
    max-width: 50vw;

}

.life-container {
    display:flex;
    justify-content: space-around;

}
.credit-text {
    color:azure;
    text-transform: uppercase;
    font-weight: 900;
}

.player-lives, 
.computer-lives {
    color: azure;
}

.cpu-life-bar,
.player-life-bar {
    display:flex;

}
.cpu-life-unit { 
    height: 3vh;
    min-width:4vw; 
    border: solid white 4px;
    background-color: red;
}

.player-life-unit { 
    height: 3vh;
    min-width:4vw; 
    border: solid white 4px;
    background-color: blue;
}

.inactive {
    background-color: black;
}

.dither-background {
    transition: 3s;
    background-blend-mode: luminosity;
}

.graywash {
    mix-blend-mode: luminosity;
}

.normal-color {
    transition: 3s;
    mix-blend-mode: normal;
    background-blend-mode:normal;
}

.fade-in {
    visibility:visible;
    animation-name: fade-in;
    animation-duration: 1s;

    

}

@keyframes fade-in {
    from {opacity: .0;}
    to {opacity: 1;
    }
    
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: .0;
    }
    
}

.fade-out {
    visibility: hidden;
    animation-name: fade-out;
    animation-duration: 1s;
    
}

.garage-background {
    background-image:  url("./assets/images/double-dragon-garage.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-color: black;
    transition: 2s;
}

