
body {
    background-image:  url("./assets/images/double-dragon-garage.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    height: 100vh;
    margin:0px;
    display:flex;
    flex-direction: column;
 
}

header {
    min-height: 50px;
    background-color: darkblue;

}

footer {
    min-height: 30px;
    background-color: blue;
    margin-top: auto;
}


.player-hand {
    max-height:60%;

}

.computer-hand {
    max-height:60%;
    

}


.game-container {
    display:flex;
    justify-content: space-between;
    margin-top: 30%;
    
}

.buttons {
    background-color:goldenrod;
    align-self: flex-end;
}

.strike-button-container {
    display:flex;
    justify-content: center;
}

.button-container {
    display:flex;
}

/* .hand-slide {
    animation-duration: 3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    75% {
        margin-left: 25%;
    }

    to {
        margin-left: 0%;

    }
} */

.active-item {
    background-color: violet;
}